body {
    background-image: url('https://my.alfred.edu/zoom/_images/foster-lake-thumbnail.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
#name {
    background-color: lightblue;
}

h1 {
    color: blue;
}

img {
    width: 475px;
    height: 500px;
    padding: 20px;
    float:left;
}

.container {
    margin: 50px;
    border: 1px solid black;
    background-color:whitesmoke;
}

form {
    margin-bottom: 30px;
}

footer {
    background-color:whitesmoke;
    float:bottom;
    text-align: center;
    padding: 5px;
    font-size:14px;
    line-height: 16px;
}

#whitebackground {
    background-color:white;
}